.grafico_condensadores {
  background-color: #262d47;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px black;
}
.graficos_eficiencia_comparativo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-template-areas: "grafico1 grafico2";
}

.graficos_adm_ganho_sat {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-areas: "grafico3 grafico4 grafico5";
}

.grafico1 {
  grid-area: grafico1;
}
.grafico2 {
  grid-area: grafico2;
}
.grafico3 {
  grid-area: grafico3;
}
.grafico4 {
  grid-area: grafico4;
}
.grafico5 {
  grid-area: grafico5;
}
/* grid-row e columns tem que respeitar os frames setados pelo grid-template-colums; */
@media (max-width: 1279px) {
  .graficos_eficiencia_comparativo {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 999px) {
  .graficos_adm_ganho_sat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 620px) {
  .grafico1,
  .grafico2,
  .grafico3,
  .grafico4,
  .grafico5 {
    min-height: 280px;
  }
}
/*  options.vAxis.format = "decimal"; 