.grafico_condensadores {
  background-color: #262d47;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px black;
}
.graficos_eficiencia_comparativo {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(
    350px,
    auto
  ); /* minimo 120px de altura e maximo responsivo */
  grid-template-areas: "grafico1 grafico2";
}

.graficos_adm_ganho_sat {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(
    250px,
    auto
  ); /* minimo 120px de altura e maximo responsivo */
  grid-template-areas: "grafico3 grafico4 grafico5";
}

.grafico1 {
  grid-area: grafico1;
  min-width: 50%;
}
.grafico2 {
  grid-area: grafico2;
  min-width: 50%;
}
.grafico3 {
  grid-area: grafico3;
  min-width: 50%;
}
.grafico4 {
  grid-area: grafico4;
  min-width: 50%;
}
.grafico5 {
  grid-area: grafico5;
  min-width: 50%;
}
/* grid-row e columns tem que respeitar os frames setados pelo grid-template-colums; */
@media (max-width: 1279px) {
  .graficos_eficiencia_comparativo {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 999px) {
  .graficos_adm_ganho_sat {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .grafico1,
  .grafico2,
  .grafico3,
  .grafico4,
  .grafico5 {
    min-width: 280px;
  }
}
/*  options.vAxis.format = "decimal"; */
