{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block 'head' %}{% endblock %} <link rel="stylesheet" href={% static
    'css/base.css'%} />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"
    />
    <script
      src="https://kit.fontawesome.com/374b273cba.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block 'titulo'%}{% endblock %}</title>
  </head>
  <body>
    <header>
      oi
      <div class="col-sm-4">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle x collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse-x"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top">.navbar-toggle.x</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-x">
            <ul class="nav navbar-nav navbar-right">
              <li data-toggle="collapse" data-target="#navbar-collapse.in">
                <a href="#top">Link</a>
              </li>
              <li data-toggle="collapse" data-target="#navbar-collapse.in">
                <a href="#top">Link</a>
              </li>
            </ul>
          </div>
          <!-- .navbar-collapse -->
        </nav>
      </div>
    </header>
    {% block 'body' %}{% endblock %}
    <footer>
      <div class="footer-area-bottom">
        <div class="footer-icons">
          <ul>
            <li>
              <a href="https://cess.ind.br/">
                <i class="fa fa-home"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/computaional-energy-saving-solution/"
              >
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://youtu.be/abh5-XwXJQ4">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright_text-center">
          <p>
            &copy; Copyright 2022 |
            <strong>CESS – Computational Energy Saving Solutions </strong>
            | All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
