body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: #8ec5ff;
  background-image: radial-gradient(circle, #1a293e, #1f1f1f);
}
.grafico1,
.grafico2 {
  height: 350px;
  width: 100vw;
  margin: 10px;
}
.grafico3,
.grafico4,
.grafico5 {
  height: 350px;
  width: 100vw;
  margin-top: 10px;
}

.graficos_eficiencia_comparativo,
.graficos_adm_ganho_sat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.graficos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(145deg, #041d29, #042231);
  box-shadow: 6px 6px 12px #021219, -6px -6px 12px #021219;
  margin: 0 10px;
}
/* MobileFirst */

@media screen and (max-width: 999px) {
  .graficos_eficiencia_comparativo,
  .graficos_adm_ganho_sat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100vw;
    gap: 10px;
    margin-top: 10px;
  }
  .graficos_adm_ganho_sat {
    margin-top: 220px;
  }
}

/* #04202E cor de fundo dos gráficos */
