body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
header {
  background-color: #1a293e;
}
nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1144px;
  margin: auto;
}
/* ---------------------------------------Inicio de estilização LOGO------------------------------------------------*/
#logo {
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
/* ---------------------------------------Fim de estilização LOGO ------------------------------------------------*/
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.links a {
  color: Gainsboro;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.links a:hover {
  text-decoration: bold;
  color: #b0e0e6;
}
#btnMenu,
.checkmark {
  display: none;
}
.containerMenu {
  font-size: 22px;
  display: none;
}
/* ---------------------------------------Inicio de estilização dos botões header ------------------------------------------------*/
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em 1em;
  font-weight: bold;
  border-width: 0;
  border-radius: 0.5em;
  transition: 0.2s ease;
}
.text {
  font-size: 0.8em;
  color: white;
  z-index: 1;
}
.btn::before {
  position: absolute;
  content: "";
  top: -75%;
  left: -10%;
  width: 120%;
  height: 250%;
  background-image: linear-gradient(
    135deg,
    rgba(176, 224, 230, 1) 0%,
    rgb(12, 37, 38) 100%
  );
}
.btn::after {
  position: absolute;
  content: "";
  width: 94%;
  height: 85%;
  border-width: 0;
  border-radius: 0.5em;
  background-color: #1a293e;
}
.btn:hover.btn {
  transform: scale(1.1);
}

.btn:hover.btn::before {
  animation: turn_4810 1s infinite linear;
}
.btn:active.btn {
  transform: scale(1.05);
}
.btn:active.btn::before {
  transform: scale(1.05);
  animation: turn_4810 0.6s infinite linear;
}
@keyframes turn_4810 {
  0% {
    transform: rotate(deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* ---------------------------------------FIM de estilização dos botões header ------------------------------------------------*/
@media only screen and (max-width: 999px) {
  .containerMenu,
  .checkmark {
    display: block;
    margin-right: 1rem;
  }

  .links {
    position: fixed;
    background-color: #1a293e;
    min-height: calc(100vh - 51px);
    flex-flow: column;
    width: 100%;
    top: 51px;
    left: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  #btnMenu:checked ~ .links {
    left: 0;
  }
  /* Virar 3 barras pro X, ainda em desenvolvimento */

#btnMenu:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

#btnMenu:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

#btnMenu:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

}
/* Inicio Estilização Botao Menu screen <999px */
.containerMenu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerMenu {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}
